@import "lib/css3-mixins";
@import "lib/lib";
@import "lib/reset";
@import "lib/responsive";


// Your Scss Goes Here

h1{ 
    color: #DDD;
    background: #312424;
    padding: 20px;
    font-size: 44px;
    padding-bottom: 15px;
    padding-right: 15px;
    @include box-shadow(0px,6px,16px,#B8B8B8,true,0px -5px 4px #B4B1B1 inset);
}
